page-login {
  .centrear {
    margin-left: 50%;
  }
  .posicionar-doble {
    width: 180px;
    margin-left: 10%;
  }
  .boton-registrar {
    margin-bottom: 13px;
    color: red;
  }
  .texto-normal {
    text-transform: none;
  }
  .recorrer-derecha {
    margin-left: 3%;
  }
  .recorrer-cancelar {
    margin-left: 35%;
  }
  .titulo {
    margin-left: 35%;
    color: gray;
  }
}
