page-iniciativa-info {
    #map {
        height: 100%;
        width: 100%;
    }

    .lista {
        width: 100%;
        height: 100%;
    }

    .descripcion {
        background-color: #ECE8E8;
        text-align: center;
    }

    .botones {
        margin-top: 15px;
        width: 10px;
    }

    .imagen {
        height: 200px;
        width: 100%;
    }

    .fila {
        width: 100%;
        height: 100%;
    }
}
