page-iniciativas {
    .avatar {
        margin: 3px !important;
    }

    .usuarioTitulo {
        padding-left: 3px;
    }

    .titulo {
        font-weight: bold;
        
    }

    .imagen {
        width: 60px;
        height: 60px;
      }

    .card {
        img {
            height: 200px;
        }
        height: 430px;
    }

    .texto {
        width: 100%;
        height: 100px;
    }

    .seleccion {
        max-width: 100%;
        background-color: aliceblue;
    }

    .descripcion {
        width: 100%;
        height: 100px;
        margin: 5px;
    }

    .categoriaTitulo {
        margin-left: 10px;
    }

    .boton {
        margin: 10px;
    }

    .buscador {
        margin-top: 10px;
    }

    .titutloCategoria {
        margin: 0;
    }

    .person-icon {
        margin-right: 5px;
    }
}
