<ion-header>

  <ion-navbar color="amarillo">
    <ion-title>Iniciativas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar...">
  </ion-searchbar>
  <ion-row>
    <ion-col col-sm-6 col-md-3 col-lg-2 col-xl-2 *ngFor="let i of iniciativas">
      <ion-card (click)="mostrarIniciativa()">
        <ion-item class="usuarioTitulo">
          <ion-avatar item-start class="avatar">
            <ion-img src="img/avatar.jpg" width="30" height="30"></ion-img>
          </ion-avatar>
          <h2 text-wrap>{{i.autor}}</h2>
        </ion-item>
        <img src="{{i.imagen}}">
        <ion-card-content style="padding: 5px;">
          <p>{{i.titulo}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col col-6 style="padding: 5px;">
            <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>{{i.likes}}</div>
            </button>
          </ion-col>
          <ion-col col-6 style="padding: 5px;">
            <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>{{i.comentarios}}</div>
                </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-fab bottom right (click)="anadirIniciativa()" *ngIf="false">
      <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>