<ion-header>

  <ion-navbar color="amarillo">
    <ion-title>Iniciativas</ion-title>
    <ion-buttons end *ngIf="false">
      <button ion-button icon-only icon-left color="dark" (click)="iniciarSesion()">
      <ion-icon name="contact"></ion-icon>
      Iniciar Sesion
    </button>
    </ion-buttons>
    <ion-buttons end>
        <button ion-button icon-only (click)="paginaInformacion()">
            <ion-icon name="information-circle"></ion-icon>
            Acerca De
        </button>
      </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="refrescarInicitavivas()">
          <ion-icon name="refresh"></ion-icon>
          Actualizar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col col-8>
      <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar Iniciativa...">
      </ion-searchbar>
    </ion-col>
    <ion-col col-4>
      <ion-select [(ngModel)]="categoriaSelecionada" (ionChange)="onSelectChange($event)" class="seleccion">
        <ion-option value="Todos">Todos</ion-option>
        <ion-option value="{{c}}" *ngFor="let c of categorias">{{c}}</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-label class="categoriaTitulo"><b>Categoria Seleccionada: </b>{{categoriaSelecionada}}</ion-label>
  <ion-row>
    <ion-col col-sm-6 col-md-3 col-lg-2 col-xl-2 *ngFor="let i of listaVisible">
      <ion-card (click)="mostrarIniciativa(i)" class="card">
        <img src="http://bigwasi.org/Bigwasi/images/Iniciativas/{{i.imagen}}" class="imagen">
        <ion-card-header class="titulo">
          {{i.titulo}}
        </ion-card-header>
        <ion-card-content>
          <p textwrap>{{i.descripcion}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col col-6 style="padding: 5px;">
            <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>{{i.likes}}</div>
            </button>
          </ion-col>
          <ion-col col-6 style="padding: 5px;">
            <button ion-button icon-left clear small (click)="darLike(i)">
                  <ion-icon name="text"></ion-icon>
                  <div>{{i.NroComentarios}}</div>
                </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-fab bottom right (click)="anadirIniciativa()" *ngIf="false">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>