<ion-header>

  <ion-navbar color="verde">
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons end *ngIf="false">
      <button ion-button icon-only icon-left color="dark" (click)="iniciarSesion()">
      <ion-icon name="contact"></ion-icon>
      Iniciar Sesion
    </button>
    </ion-buttons>
    <ion-buttons end>

      <button ion-button icon-only (click)="paginaInformacion()">
            <ion-icon name="information-circle"></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="refrescarInicitavivas()">
          <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="opcionesLogin()">
        <ion-icon name="person" class="person-icon"></ion-icon>
        <label>{{nombreUsuario}}</label>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="fondo">
  <ion-row>
    <ion-col col-8>
      <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar Iniciativa..." class="buscador">
      </ion-searchbar>
    </ion-col>
    <ion-col col-4>
      <ion-label class="titutloCategoria"><b>Categoria:</b></ion-label>
      <ion-select [(ngModel)]="categoriaSelecionada" (ionChange)="onSelectChange($event)" class="seleccion">
        <ion-label>Categoria</ion-label>
        <ion-option value="Todos">Todos</ion-option>
        <ion-option value="{{c}}" *ngFor="let c of categorias">{{c}}</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-label class="categoriaTitulo"><b>Categoria Seleccionada: </b>{{categoriaSelecionada}}</ion-label>
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 *ngIf="esUsuario">
      <ion-card (click)="mostrarIniciativaUsuario()" class="card">
        <img src="img/IniciativaPerfil.png" class="imagen">
        <ion-card-header class="titulo" color="cafe">
          Mi Historial
        </ion-card-header>
        <ion-card-content>
          <p textwrap>Iniciativas en las cuales se hizo reportes.</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 *ngFor="let i of listaVisible">
      <ion-card (click)="mostrarIniciativa(i)" class="card">
        <img src="http://bigwasi.org/Bigwasi/images/Iniciativas/{{i.imagen}}" class="imagen">
        <ion-card-header color="cafe">
          <b text-wrap>
          {{i.titulo}}
          </b>
        </ion-card-header>
        <ion-scroll scrollX="true" class="descripcion">
          {{i.descripcion}}
        </ion-scroll> 
        <ion-row>
          <ion-col col-6 style="padding: 5px;">
            <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>{{i.likes}}</div>
            </button>
          </ion-col>
          <ion-col col-6 style="padding: 5px;">
            <button ion-button icon-left clear small (click)="darLike(i)">
                  <ion-icon name="text"></ion-icon>
                  <div>{{i.NroComentarios}}</div>
                </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-fab bottom right (click)="anadirIniciativa()" *ngIf="false">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
