page-iniciativas {
    .avatar {
        margin: 3px !important;
    }

    .usuarioTitulo {
        padding-left: 3px;
    }

    .titulo {
        font-weight: bold;
    }

    .card {
        img {
            height: 200px;
        }
    }

    .person-icon {
        margin-right: 6px;
    }
}
