page-iniciativas {
    .avatar {
        margin: 3px !important;
    }

    .usuarioTitulo {
        padding-left: 3px;
    }

    .titulo {
        font-weight: bold;
        
    }

    .card {
        img {
            height: 200px;
        }
    }

    .seleccion {
        max-width: 100%;
        background-color: aliceblue;
    }

    .categoriaTitulo {
        margin-left: 10px;
    }

    .boton {
        margin: 10px;
    }

    .buscador {
        margin-top: 10px;
    }

    .titutloCategoria {
        margin: 0;
    }
}
