page-acerca-de {
  .imagenLogo {
    width: 150px;
    height: 150px;
  }
  .person-icon {
    margin-right: 5px;
  }

  .imagen {
    width: 60px;
    height: 60px;
  }

  .iconos {
    float: left;
  }
}
