page-infografia {
    .imagen {
        width: 60px;
        height: 60px;
    }

    .iconos {
        margin-right: 5px;
        color: white;
    }

    .reportar {
        margin-left: 15%;
    }

    .imagenBigwasi{
        width: 100%;
        height: 30%;
    }

    .imagenBigwasi2{
        width: 100%;
        height: 80%;
    }
}
