page-historial-usuario {
    .titulo {
        font-weight: bold;
    }

    .card {
        img {
            height: 200px;
        }
        height: 100%;
    }

    .lista {
        width: 100%;
        height: 100%;
    }

    .imagen {
        width: 60px;
        height: 60px;
    }

    .fila {
        height: 100%;
    }

    .person-icon {
        margin-right: 5px;
        color: white;
    }

    .seleccion {
        max-width: 100%;
        margin-top: 1px;
        background-color: aliceblue;
    }

    .buscador {
        margin-top: 10px;
    }

    .titutloCategoria {
        margin: 0;
    }
}
