page-crear-cuenta {
  .centrear {
    margin-left: 50%;
  }
  .posicionar-doble {
    width: 180px;
    margin-left: 10%;
  }
  .texto-normal {
    text-transform: none;
  }
  .titulo {
    margin-left: 35%;
    color: gray;
  }
  .subir-lista {
    margin-top: -5px;
  }
}
