<ion-content padding>
  <h1 class="titulo">Regístrate</h1>
  <form [formGroup]="formRegister">
    <ion-list class="subir-lista">
      <ion-item>
        <ion-label floating>Nombre completo: </ion-label>
        <ion-input type="text" [(ngModel)]="nombre" required formControlName="nombre"></ion-input>
      </ion-item>

      <div *ngIf="formRegister.get('nombre').errors && formRegister.get('nombre').dirty">
        <p color="danger" ion-text *ngIf="formRegister.get('nombre').hasError('required')">
          El campo es requerido.
        </p>
        <p color="danger" ion-text *ngIf="formRegister.get('nombre').hasError('pattern')">
          Solo se aceptan letras sin caracteres especiales.
        </p>
      </div>

      <ion-item>
        <ion-label floating>Teléfono: </ion-label>
        <ion-input type="text" [(ngModel)]="telefono" formControlName="telefono"></ion-input>
      </ion-item>

      <div *ngIf="formRegister.get('telefono').errors && formRegister.get('telefono').dirty">
        <p color="danger" ion-text *ngIf="formRegister.get('telefono').hasError('pattern')">
          Solo se aceptan teléfonos fijos (7 dígitos) o celulares (8 dígitos).
        </p>
      </div>

      <ion-item>
        <ion-label floating>Correo electrónico: </ion-label>
        <ion-input type="email" [(ngModel)]="correo" required formControlName="email"></ion-input>
      </ion-item>

      <div *ngIf="formRegister.get('email').errors && formRegister.get('email').dirty">
        <p color="danger" ion-text *ngIf="formRegister.get('email').hasError('required')">
          El campo es requerido.
        </p>
        <p color="danger" ion-text *ngIf="formRegister.get('email').hasError('email')">
          No es un correo válido.
        </p>
      </div>

      <ion-item>
        <ion-label floating>Contraseña: </ion-label>
        <ion-input type="password" [(ngModel)]="contrasena" formControlName="contrasena" required></ion-input>
      </ion-item>

      <div *ngIf="formRegister.get('contrasena').errors && formRegister.get('contrasena').dirty">
        <p color="danger" ion-text *ngIf="formRegister.get('contrasena').hasError('required')">
          El campo es requerido.
        </p>
      </div>

      <ion-item>
        <ion-label floating>Confirmar contraseña: </ion-label>
        <ion-input type="password" [(ngModel)]="confirmContrasena" formControlName="confirmarContrasena" required></ion-input>
      </ion-item>

      <div *ngIf="formRegister.get('confirmarContrasena').errors && formRegister.get('confirmarContrasena').dirty">
        <p color="danger" ion-text *ngIf="formRegister.get('confirmarContrasena').hasError('required')">
          El campo es requerido.
        </p>
      </div>
    </ion-list>

    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button outline round class="posicionar-doble texto-normal" (click)="dismiss()">Cancelar</button>
        </ion-col>
        <ion-col>
          <button ion-button outline round class="posicionar-doble texto-normal" (click)="registrar()" type="submit" block [disabled]="!formRegister.valid ">Registrar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
